<ion-content [fullscreen]="true">
  <ion-title id="titleRecover"><b>Recover</b></ion-title>
  <ion-card class="principalCard" color="dark">
    <ion-card-header>
      <ion-input [(ngModel)]="recoverUsername" size="large" label="User Name" labelPlacement="floating" placeholder="Usuario123"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="recoverback()" id="open-modal" size="large" color="light" shape="round">Back</ion-button>
      <ion-button (click)="recoverPassword()" size="large" color="light" shape="round">Recover</ion-button>
    </ion-card-content>
  </ion-card>

