ion-content {
  --background: orange;
  --color: #fff;
}

.principalCard{
  margin-top: 50%;
}

ion-input{
  margin-left: 5%;
}

ion-card-content{
  margin-left: 10%;
}

#titleRecover{
  padding-top: 24%;
  padding-left: 38%;
  font-size: xx-large;
  background-color: orange;
}

