ion-content {
  --background: orange;
  --color: #fff;
}

.principalCard{
  margin-top: 50%;
}

ion-input{
  margin-left: 5%;
}

ion-card-content{
  margin-left: 10%;
}

#titleRegister{
  padding-top: 20%;
  font-size: xxx-large;
}

#buttonsRegister{
  padding-left: 0%;
}




